#testid {
    color: red;
}
.btn-primary {
    background: #f32198 linear-gradient(180deg,#f57b42,#2196f3) repeat-x;
}
legend {
    text-decoration: underline;
}
.columns-align-bottom>div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
.columns-align-bottom>div>div {
    align-self: end;
}